In [1]:
import requests 
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://prsindia.org/covid-19/cases"

In [3]:
r = requests.get(url)

In [4]:
print(r)

<Response [200]>

In [5]:
r.status_code

200

In [6]:
soup = BeautifulSoup(r.text, "lxml")

In [8]:
names = soup.find_all("th")
print(names)

[<th>#</th>, <th>State/UT</th>, <th style="width: 11%; text-align:right">Confirmed Cases</th>, <th style="width: 9%; text-align:right">Active Cases</th>, <th style="width: 2%; text-align:right">Cured/Discharged</th>, <th style="width: 5%; text-align:right">Death</th>]

In [9]:
title_name = []
for i in names:
    title = i.text
    title_name.append(title)
print(title_name)

['#', 'State/UT', 'Confirmed Cases', 'Active Cases', 'Cured/Discharged', 'Death']

In [10]:
df = pd.DataFrame(columns=title_name)
print(df)

Empty DataFrame
Columns: [#, State/UT, Confirmed Cases, Active Cases, Cured/Discharged, Death]
Index: []

In [12]:
df

Empty DataFrame
Columns: [#, State/UT, Confirmed Cases, Active Cases, Cured/Discharged, Death]
Index: []

In [13]:
rows = soup.find_all("tr")
print(rows)

[<tr><th>#</th><th>State/UT</th><th style="width: 11%; text-align:right">Confirmed Cases</th><th style="width: 9%; text-align:right">Active Cases</th><th style="width: 2%; text-align:right">Cured/Discharged</th><th style="width: 5%; text-align:right">Death</th></tr>, <tr><td>Â </td><td>India</td><td>43452164</td><td>104555</td><td>42822493</td><td>525116</td></tr>, <tr data-key="29717"><td style="width: 5%;">1</td><td style="width: 20%;">Andaman and Nicobar Islands</td><td style="width: 11%; text-align:right">10157</td><td style="width: 9%; text-align:right">42</td><td style="width: 2%; text-align:right">9986</td><td style="width: 5%; text-align:right">129</td></tr>, <tr data-key="29718"><td style="width: 5%;">2</td><td style="width: 20%;">Andhra Pradesh</td><td style="width: 11%; text-align:right">2321379</td><td style="width: 9%; text-align:right">755</td><td style="width: 2%; text-align:right">2305893</td><td style="width: 5%; text-align:right">14731</td></tr>, <tr data-key="29719"><td style="width: 5%;">3</td><td style="width: 20%;">Arunachal Pradesh</td><td style="width: 11%; text-align:right">64518</td><td style="width: 9%; text-align:right">4</td><td style="width: 2%; text-align:right">64218</td><td style="width: 5%; text-align:right">296</td></tr>, <tr data-key="29720"><td style="width: 5%;">4</td><td style="width: 20%;">Assam</td><td style="width: 11%; text-align:right">724788</td><td style="width: 9%; text-align:right">395</td><td style="width: 2%; text-align:right">716405</td><td style="width: 5%; text-align:right">7988</td></tr>, <tr data-key="29721"><td style="width: 5%;">5</td><td style="width: 20%;">Bihar</td><td style="width: 11%; text-align:right">832581</td><td style="width: 9%; text-align:right">934</td><td style="width: 2%; text-align:right">819388</td><td style="width: 5%; text-align:right">12259</td></tr>, <tr data-key="29722"><td style="width: 5%;">6</td><td style="width: 20%;">Chandigarh</td><td style="width: 11%; text-align:right">93785</td><td style="width: 9%; text-align:right">568</td><td style="width: 2%; text-align:right">92052</td><td style="width: 5%; text-align:right">1165</td></tr>, <tr data-key="29723"><td style="width: 5%;">7</td><td style="width: 20%;">Chhattisgarh</td><td style="width: 11%; text-align:right">1154179</td><td style="width: 9%; text-align:right">861</td><td style="width: 2%; text-align:right">1139282</td><td style="width: 5%; text-align:right">14036</td></tr>, <tr data-key="29724"><td style="width: 5%;">8</td><td style="width: 20%;">Dadra and Nagar Haveli and Daman and Diu</td><td style="width: 11%; text-align:right">11474</td><td style="width: 9%; text-align:right">14</td><td style="width: 2%; text-align:right">11456</td><td style="width: 5%; text-align:right">4</td></tr>, <tr data-key="29725"><td style="width: 5%;">9</td><td style="width: 20%;">Delhi</td><td style="width: 11%; text-align:right">1934009</td><td style="width: 9%; text-align:right">4325</td><td style="width: 2%; text-align:right">1903423</td><td style="width: 5%; text-align:right">26261</td></tr>, <tr data-key="29726"><td style="width: 5%;">10</td><td style="width: 20%;">Goa</td><td style="width: 11%; text-align:right">248540</td><td style="width: 9%; text-align:right">982</td><td style="width: 2%; text-align:right">243720</td><td style="width: 5%; text-align:right">3838</td></tr>, <tr data-key="29727"><td style="width: 5%;">11</td><td style="width: 20%;">Gujarat</td><td style="width: 11%; text-align:right">1231483</td><td style="width: 9%; text-align:right">2914</td><td style="width: 2%; text-align:right">1217623</td><td style="width: 5%; text-align:right">10946</td></tr>, <tr data-key="29728"><td style="width: 5%;">12</td><td style="width: 20%;">Haryana</td><td style="width: 11%; text-align:right">1015501</td><td style="width: 9%; text-align:right">2655</td><td style="width: 2%; text-align:right">1002222</td><td style="width: 5%; text-align:right">10624</td></tr>, <tr data-key="29729"><td style="width: 5%;">13</td><td style="width: 20%;">Himachal Pradesh</td><td style="width: 11%; text-align:right">286061</td><td style="width: 9%; text-align:right">507</td><td style="width: 2%; text-align:right">281413</td><td style="width: 5%; text-align:right">4141</td></tr>, <tr data-key="29730"><td style="width: 5%;">14</td><td style="width: 20%;">Jammu and Kashmir</td><td style="width: 11%; text-align:right">455006</td><td style="width: 9%; text-align:right">447</td><td style="width: 2%; text-align:right">449803</td><td style="width: 5%; text-align:right">4756</td></tr>, <tr data-key="29731"><td style="width: 5%;">15</td><td style="width: 20%;">Jharkhand</td><td style="width: 11%; text-align:right">435858</td><td style="width: 9%; text-align:right">284</td><td style="width: 2%; text-align:right">430254</td><td style="width: 5%; text-align:right">5320</td></tr>, <tr data-key="29732"><td style="width: 5%;">16</td><td style="width: 20%;">Karnataka</td><td style="width: 11%; text-align:right">3968365</td><td style="width: 9%; text-align:right">5707</td><td style="width: 2%; text-align:right">3922541</td><td style="width: 5%; text-align:right">40117</td></tr>, <tr data-key="29733"><td style="width: 5%;">17</td><td style="width: 20%;">Kerala</td><td style="width: 11%; text-align:right">6634722</td><td style="width: 9%; text-align:right">28860</td><td style="width: 2%; text-align:right">6535869</td><td style="width: 5%; text-align:right">69993</td></tr>, <tr data-key="29734"><td style="width: 5%;">18</td><td style="width: 20%;">Ladakh</td><td style="width: 11%; text-align:right">28411</td><td style="width: 9%; text-align:right">78</td><td style="width: 2%; text-align:right">28105</td><td style="width: 5%; text-align:right">228</td></tr>, <tr data-key="29735"><td style="width: 5%;">19</td><td style="width: 20%;">Lakshadweep</td><td style="width: 11%; text-align:right">11408</td><td style="width: 9%; text-align:right">3</td><td style="width: 2%; text-align:right">11353</td><td style="width: 5%; text-align:right">52</td></tr>, <tr data-key="29736"><td style="width: 5%;">20</td><td style="width: 20%;">Madhya Pradesh</td><td style="width: 11%; text-align:right">1044243</td><td style="width: 9%; text-align:right">490</td><td style="width: 2%; text-align:right">1033012</td><td style="width: 5%; text-align:right">10741</td></tr>, <tr data-key="29737"><td style="width: 5%;">21</td><td style="width: 20%;">Maharashtra</td><td style="width: 11%; text-align:right">7972474</td><td style="width: 9%; text-align:right">25735</td><td style="width: 2%; text-align:right">7798817</td><td style="width: 5%; text-align:right">147922</td></tr>, <tr data-key="29738"><td style="width: 5%;">22</td><td style="width: 20%;">Manipur</td><td style="width: 11%; text-align:right">137266</td><td style="width: 9%; text-align:right">18</td><td style="width: 2%; text-align:right">135128</td><td style="width: 5%; text-align:right">2120</td></tr>, <tr data-key="29739"><td style="width: 5%;">23</td><td style="width: 20%;">Meghalaya</td><td style="width: 11%; text-align:right">93947</td><td style="width: 9%; text-align:right">65</td><td style="width: 2%; text-align:right">92288</td><td style="width: 5%; text-align:right">1594</td></tr>, <tr data-key="29740"><td style="width: 5%;">24</td><td style="width: 20%;">Mizoram</td><td style="width: 11%; text-align:right">229048</td><td style="width: 9%; text-align:right">261</td><td style="width: 2%; text-align:right">228084</td><td style="width: 5%; text-align:right">703</td></tr>, <tr data-key="29741"><td style="width: 5%;">25</td><td style="width: 20%;">Nagaland</td><td style="width: 11%; text-align:right">35507</td><td style="width: 9%; text-align:right">2</td><td style="width: 2%; text-align:right">34744</td><td style="width: 5%; text-align:right">761</td></tr>, <tr data-key="29742"><td style="width: 5%;">26</td><td style="width: 20%;">Odisha</td><td style="width: 11%; text-align:right">1289602</td><td style="width: 9%; text-align:right">627</td><td style="width: 2%; text-align:right">1279849</td><td style="width: 5%; text-align:right">9126</td></tr>, <tr data-key="29743"><td style="width: 5%;">27</td><td style="width: 20%;">Puducherry</td><td style="width: 11%; text-align:right">166438</td><td style="width: 9%; text-align:right">304</td><td style="width: 2%; text-align:right">164172</td><td style="width: 5%; text-align:right">1962</td></tr>, <tr data-key="29744"><td style="width: 5%;">28</td><td style="width: 20%;">Punjab</td><td style="width: 11%; text-align:right">762755</td><td style="width: 9%; text-align:right">1079</td><td style="width: 2%; text-align:right">743903</td><td style="width: 5%; text-align:right">17773</td></tr>, <tr data-key="29745"><td style="width: 5%;">29</td><td style="width: 20%;">Rajasthan</td><td style="width: 11%; text-align:right">1288328</td><td style="width: 9%; text-align:right">939</td><td style="width: 2%; text-align:right">1277825</td><td style="width: 5%; text-align:right">9564</td></tr>, <tr data-key="29746"><td style="width: 5%;">30</td><td style="width: 20%;">Sikkim</td><td style="width: 11%; text-align:right">39224</td><td style="width: 9%; text-align:right">26</td><td style="width: 2%; text-align:right">38744</td><td style="width: 5%; text-align:right">454</td></tr>, <tr data-key="29747"><td style="width: 5%;">31</td><td style="width: 20%;">Tamil Nadu</td><td style="width: 11%; text-align:right">3473116</td><td style="width: 9%; text-align:right">10033</td><td style="width: 2%; text-align:right">3425057</td><td style="width: 5%; text-align:right">38026</td></tr>, <tr data-key="29748"><td style="width: 5%;">32</td><td style="width: 20%;">Telangana</td><td style="width: 11%; text-align:right">800476</td><td style="width: 9%; text-align:right">4421</td><td style="width: 2%; text-align:right">791944</td><td style="width: 5%; text-align:right">4111</td></tr>, <tr data-key="29749"><td style="width: 5%;">33</td><td style="width: 20%;">Tripura</td><td style="width: 11%; text-align:right">100901</td><td style="width: 9%; text-align:right">7</td><td style="width: 2%; text-align:right">99971</td><td style="width: 5%; text-align:right">923</td></tr>, <tr data-key="29751"><td style="width: 5%;">34</td><td style="width: 20%;">Uttar Pradesh</td><td style="width: 11%; text-align:right">2090050</td><td style="width: 9%; text-align:right">3541</td><td style="width: 2%; text-align:right">2062971</td><td style="width: 5%; text-align:right">23538</td></tr>, <tr data-key="29750"><td style="width: 5%;">35</td><td style="width: 20%;">Uttarakhand</td><td style="width: 11%; text-align:right">438663</td><td style="width: 9%; text-align:right">787</td><td style="width: 2%; text-align:right">430180</td><td style="width: 5%; text-align:right">7696</td></tr>, <tr data-key="29752"><td style="width: 5%;">36</td><td style="width: 20%;">West Bengal</td><td style="width: 11%; text-align:right">2027901</td><td style="width: 9%; text-align:right">5885</td><td style="width: 2%; text-align:right">2000798</td><td style="width: 5%; text-align:right">21218</td></tr>]

In [14]:
for i in rows[1:]:
    data = i.find_all("td")
    row = [tr.text for tr in data]
    print(row)
    l = len(df)
    df.loc[l] = row
print(df)

['\xa0', 'India', '43452164', '104555', '42822493', '525116']
['1', 'Andaman and Nicobar Islands', '10157', '42', '9986', '129']
['2', 'Andhra Pradesh', '2321379', '755', '2305893', '14731']
['3', 'Arunachal Pradesh', '64518', '4', '64218', '296']
['4', 'Assam', '724788', '395', '716405', '7988']
['5', 'Bihar', '832581', '934', '819388', '12259']
['6', 'Chandigarh', '93785', '568', '92052', '1165']
['7', 'Chhattisgarh', '1154179', '861', '1139282', '14036']
['8', 'Dadra and Nagar Haveli and Daman and Diu', '11474', '14', '11456', '4']
['9', 'Delhi', '1934009', '4325', '1903423', '26261']
['10', 'Goa', '248540', '982', '243720', '3838']
['11', 'Gujarat', '1231483', '2914', '1217623', '10946']
['12', 'Haryana', '1015501', '2655', '1002222', '10624']
['13', 'Himachal Pradesh', '286061', '507', '281413', '4141']
['14', 'Jammu and Kashmir', '455006', '447', '449803', '4756']
['15', 'Jharkhand', '435858', '284', '430254', '5320']
['16', 'Karnataka', '3968365', '5707', '3922541', '40117']
['17', 'Kerala', '6634722', '28860', '6535869', '69993']
['18', 'Ladakh', '28411', '78', '28105', '228']
['19', 'Lakshadweep', '11408', '3', '11353', '52']
['20', 'Madhya Pradesh', '1044243', '490', '1033012', '10741']
['21', 'Maharashtra', '7972474', '25735', '7798817', '147922']
['22', 'Manipur', '137266', '18', '135128', '2120']
['23', 'Meghalaya', '93947', '65', '92288', '1594']
['24', 'Mizoram', '229048', '261', '228084', '703']
['25', 'Nagaland', '35507', '2', '34744', '761']
['26', 'Odisha', '1289602', '627', '1279849', '9126']
['27', 'Puducherry', '166438', '304', '164172', '1962']
['28', 'Punjab', '762755', '1079', '743903', '17773']
['29', 'Rajasthan', '1288328', '939', '1277825', '9564']
['30', 'Sikkim', '39224', '26', '38744', '454']
['31', 'Tamil Nadu', '3473116', '10033', '3425057', '38026']
['32', 'Telangana', '800476', '4421', '791944', '4111']
['33', 'Tripura', '100901', '7', '99971', '923']
['34', 'Uttar Pradesh', '2090050', '3541', '2062971', '23538']
['35', 'Uttarakhand', '438663', '787', '430180', '7696']
['36', 'West Bengal', '2027901', '5885', '2000798', '21218']
     #                                  State/UT Confirmed Cases Active Cases  \
0    Â                                      India        43452164       104555
1    1               Andaman and Nicobar Islands           10157           42
2    2                            Andhra Pradesh         2321379          755
3    3                         Arunachal Pradesh           64518            4
4    4                                     Assam          724788          395
5    5                                     Bihar          832581          934
6    6                                Chandigarh           93785          568
7    7                              Chhattisgarh         1154179          861
8    8  Dadra and Nagar Haveli and Daman and Diu           11474           14
9    9                                     Delhi         1934009         4325
10  10                                       Goa          248540          982
11  11                                   Gujarat         1231483         2914
12  12                                   Haryana         1015501         2655
13  13                          Himachal Pradesh          286061          507
14  14                         Jammu and Kashmir          455006          447
15  15                                 Jharkhand          435858          284
16  16                                 Karnataka         3968365         5707
17  17                                    Kerala         6634722        28860
18  18                                    Ladakh           28411           78
19  19                               Lakshadweep           11408            3
20  20                            Madhya Pradesh         1044243          490
21  21                               Maharashtra         7972474        25735
22  22                                   Manipur          137266           18
23  23                                 Meghalaya           93947           65
24  24                                   Mizoram          229048          261
25  25                                  Nagaland           35507            2
26  26                                    Odisha         1289602          627
27  27                                Puducherry          166438          304
28  28                                    Punjab          762755         1079
29  29                                 Rajasthan         1288328          939
30  30                                    Sikkim           39224           26
31  31                                Tamil Nadu         3473116        10033
32  32                                 Telangana          800476         4421
33  33                                   Tripura          100901            7
34  34                             Uttar Pradesh         2090050         3541
35  35                               Uttarakhand          438663          787
36  36                               West Bengal         2027901         5885

   Cured/Discharged   Death
0          42822493  525116
1              9986     129
2           2305893   14731
3             64218     296
4            716405    7988
5            819388   12259
6             92052    1165
7           1139282   14036
8             11456       4
9           1903423   26261
10           243720    3838
11          1217623   10946
12          1002222   10624
13           281413    4141
14           449803    4756
15           430254    5320
16          3922541   40117
17          6535869   69993
18            28105     228
19            11353      52
20          1033012   10741
21          7798817  147922
22           135128    2120
23            92288    1594
24           228084     703
25            34744     761
26          1279849    9126
27           164172    1962
28           743903   17773
29          1277825    9564
30            38744     454
31          3425057   38026
32           791944    4111
33            99971     923
34          2062971   23538
35           430180    7696
36          2000798   21218

In [15]:
row_name = []
for w in i:
    row = w.text
    row_name.append(row)
print(row_name)

['36', 'West Bengal', '2027901', '5885', '2000798', '21218']

In [30]:
df

,#,State/UT,Confirmed Cases,Active Cases,Cured/Discharged,Death
0,,India,43452164,104555,42822493,525116
1,1,Andaman and Nicobar Islands,10157,42,9986,129
2,2,Andhra Pradesh,2321379,755,2305893,14731
3,3,Arunachal Pradesh,64518,4,64218,296
4,4,Assam,724788,395,716405,7988
5,5,Bihar,832581,934,819388,12259
6,6,Chandigarh,93785,568,92052,1165
7,7,Chhattisgarh,1154179,861,1139282,14036
8,8,Dadra and Nagar Haveli and Daman and Diu,11474,14,11456,4
9,9,Delhi,1934009,4325,1903423,26261
10,10,Goa,248540,982,243720,3838
11,11,Gujarat,1231483,2914,1217623,10946
12,12,Haryana,1015501,2655,1002222,10624
13,13,Himachal Pradesh,286061,507,281413,4141
14,14,Jammu and Kashmir,455006,447,449803,4756
15,15,Jharkhand,435858,284,430254,5320
16,16,Karnataka,3968365,5707,3922541,40117
17,17,Kerala,6634722,28860,6535869,69993
18,18,Ladakh,28411,78,28105,228
19,19,Lakshadweep,11408,3,11353,52
20,20,Madhya Pradesh,1044243,490,1033012,10741
21,21,Maharashtra,7972474,25735,7798817,147922
22,22,Manipur,137266,18,135128,2120
23,23,Meghalaya,93947,65,92288,1594
24,24,Mizoram,229048,261,228084,703
25,25,Nagaland,35507,2,34744,761
26,26,Odisha,1289602,627,1279849,9126
27,27,Puducherry,166438,304,164172,1962
28,28,Punjab,762755,1079,743903,17773
29,29,Rajasthan,1288328,939,1277825,9564
30,30,Sikkim,39224,26,38744,454
31,31,Tamil Nadu,3473116,10033,3425057,38026
32,32,Telangana,800476,4421,791944,4111
33,33,Tripura,100901,7,99971,923
34,34,Uttar Pradesh,2090050,3541,2062971,23538
35,35,Uttarakhand,438663,787,430180,7696
36,36,West Bengal,2027901,5885,2000798,21218

In [16]:
df.drop('#', axis=1, inplace=True)

In [17]:
ty = df.copy()

In [18]:
t = df.sort_values(['Death'], inplace=True)
t

In [22]:
df

,State/UT,Confirmed Cases,Active Cases,Cured/Discharged,Death
29,Rajasthan,1288328,939,1277825,9564
33,Tripura,100901,7,99971,923
26,Odisha,1289602,627,1279849,9126
4,Assam,724788,395,716405,7988
35,Uttarakhand,438663,787,430180,7696
25,Nagaland,35507,2,34744,761
24,Mizoram,229048,261,228084,703
17,Kerala,6634722,28860,6535869,69993
15,Jharkhand,435858,284,430254,5320
0,India,43452164,104555,42822493,525116
19,Lakshadweep,11408,3,11353,52
14,Jammu and Kashmir,455006,447,449803,4756
30,Sikkim,39224,26,38744,454
13,Himachal Pradesh,286061,507,281413,4141
32,Telangana,800476,4421,791944,4111
16,Karnataka,3968365,5707,3922541,40117
8,Dadra and Nagar Haveli and Daman and Diu,11474,14,11456,4
10,Goa,248540,982,243720,3838
31,Tamil Nadu,3473116,10033,3425057,38026
3,Arunachal Pradesh,64518,4,64218,296
9,Delhi,1934009,4325,1903423,26261
34,Uttar Pradesh,2090050,3541,2062971,23538
18,Ladakh,28411,78,28105,228
36,West Bengal,2027901,5885,2000798,21218
22,Manipur,137266,18,135128,2120
27,Puducherry,166438,304,164172,1962
28,Punjab,762755,1079,743903,17773
23,Meghalaya,93947,65,92288,1594
21,Maharashtra,7972474,25735,7798817,147922
2,Andhra Pradesh,2321379,755,2305893,14731
7,Chhattisgarh,1154179,861,1139282,14036
1,Andaman and Nicobar Islands,10157,42,9986,129
5,Bihar,832581,934,819388,12259
6,Chandigarh,93785,568,92052,1165
11,Gujarat,1231483,2914,1217623,10946
20,Madhya Pradesh,1044243,490,1033012,10741
12,Haryana,1015501,2655,1002222,10624

In [19]:
df.head()

          State/UT Confirmed Cases Active Cases Cured/Discharged  Death
12         Haryana         1015501         2655          1002222  10624
20  Madhya Pradesh         1044243          490          1033012  10741
11         Gujarat         1231483         2914          1217623  10946
6       Chandigarh           93785          568            92052   1165
5            Bihar          832581          934           819388  12259

In [37]:
df.sort_values(['Death'], ascending=False, inplace=True)

In [38]:
df

,State/UT,Confirmed Cases,Active Cases,Cured/Discharged,Death
29,Rajasthan,1288328,939,1277825,9564
33,Tripura,100901,7,99971,923
26,Odisha,1289602,627,1279849,9126
4,Assam,724788,395,716405,7988
35,Uttarakhand,438663,787,430180,7696
25,Nagaland,35507,2,34744,761
24,Mizoram,229048,261,228084,703
17,Kerala,6634722,28860,6535869,69993
15,Jharkhand,435858,284,430254,5320
0,India,43452164,104555,42822493,525116
19,Lakshadweep,11408,3,11353,52
14,Jammu and Kashmir,455006,447,449803,4756
30,Sikkim,39224,26,38744,454
13,Himachal Pradesh,286061,507,281413,4141
32,Telangana,800476,4421,791944,4111
16,Karnataka,3968365,5707,3922541,40117
8,Dadra and Nagar Haveli and Daman and Diu,11474,14,11456,4
10,Goa,248540,982,243720,3838
31,Tamil Nadu,3473116,10033,3425057,38026
3,Arunachal Pradesh,64518,4,64218,296
9,Delhi,1934009,4325,1903423,26261
34,Uttar Pradesh,2090050,3541,2062971,23538
18,Ladakh,28411,78,28105,228
36,West Bengal,2027901,5885,2000798,21218
22,Manipur,137266,18,135128,2120
27,Puducherry,166438,304,164172,1962
28,Punjab,762755,1079,743903,17773
23,Meghalaya,93947,65,92288,1594
21,Maharashtra,7972474,25735,7798817,147922
2,Andhra Pradesh,2321379,755,2305893,14731
7,Chhattisgarh,1154179,861,1139282,14036
1,Andaman and Nicobar Islands,10157,42,9986,129
5,Bihar,832581,934,819388,12259
6,Chandigarh,93785,568,92052,1165
11,Gujarat,1231483,2914,1217623,10946
20,Madhya Pradesh,1044243,490,1033012,10741
12,Haryana,1015501,2655,1002222,10624

In [39]:
df.head()

       State/UT Confirmed Cases Active Cases Cured/Discharged Death
29    Rajasthan         1288328          939          1277825  9564
33      Tripura          100901            7            99971   923
26       Odisha         1289602          627          1279849  9126
4         Assam          724788          395           716405  7988
35  Uttarakhand          438663          787           430180  7696

In [41]:
ty

,State/UT,Confirmed Cases,Active Cases,Cured/Discharged,Death
29,Rajasthan,1288328,939,1277825,9564
33,Tripura,100901,7,99971,923
26,Odisha,1289602,627,1279849,9126
4,Assam,724788,395,716405,7988
35,Uttarakhand,438663,787,430180,7696
25,Nagaland,35507,2,34744,761
24,Mizoram,229048,261,228084,703
17,Kerala,6634722,28860,6535869,69993
15,Jharkhand,435858,284,430254,5320
0,India,43452164,104555,42822493,525116
19,Lakshadweep,11408,3,11353,52
14,Jammu and Kashmir,455006,447,449803,4756
30,Sikkim,39224,26,38744,454
13,Himachal Pradesh,286061,507,281413,4141
32,Telangana,800476,4421,791944,4111
16,Karnataka,3968365,5707,3922541,40117
8,Dadra and Nagar Haveli and Daman and Diu,11474,14,11456,4
10,Goa,248540,982,243720,3838
31,Tamil Nadu,3473116,10033,3425057,38026
3,Arunachal Pradesh,64518,4,64218,296
9,Delhi,1934009,4325,1903423,26261
34,Uttar Pradesh,2090050,3541,2062971,23538
18,Ladakh,28411,78,28105,228
36,West Bengal,2027901,5885,2000798,21218
22,Manipur,137266,18,135128,2120
27,Puducherry,166438,304,164172,1962
28,Punjab,762755,1079,743903,17773
23,Meghalaya,93947,65,92288,1594
21,Maharashtra,7972474,25735,7798817,147922
2,Andhra Pradesh,2321379,755,2305893,14731
7,Chhattisgarh,1154179,861,1139282,14036
1,Andaman and Nicobar Islands,10157,42,9986,129
5,Bihar,832581,934,819388,12259
6,Chandigarh,93785,568,92052,1165
11,Gujarat,1231483,2914,1217623,10946
20,Madhya Pradesh,1044243,490,1033012,10741
12,Haryana,1015501,2655,1002222,10624

In [ ]:
#df.Col = pd.to_numeric(df.Col, errors='coerce')

In [42]:
#ty = pd.to_numeric(ty, errors='coerce')

TypeError: arg must be a list, tuple, 1-d array, or Series